<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Meta Tags -->
	<div th:replace="fragment/layout :: meta"></div>
	
    <!-- Website Title -->
    <title>Candidate Info</title>
    
    <!-- Styles -->
    <div th:replace="fragment/layout :: styles"></div>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top" class="no-overflow">
    
    <div th:replace="fragment/layout :: header"></div>

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 th:text="${pageTitle}"></h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Privacy Form -->
                            <div class="form-container text-center" th:object="${candidate}">
                            	<input hidden="hidden" th:field="*{candidateId}">
                            	<div class="candidate__image mb-4">
                            		<i class="fas fa-trash-alt" id="clear-candidate-image"></i>
                            		<img th:if="${candidate.candidateImage} != ''" alt="Candidate Picture" class="candidate-image" id="candidate-image" th:src="@{${candidate.candidateImage}}">
                            		<img th:if="${candidate.candidateImage} == ''" alt="Candidate Picture" class="candidate-image" id="candidate-image" th:src="@{/images/candidate.svg}">
                            	</div>
                                <form class="w-50 m-auto" id="candidateForm" data-toggle="validator" data-focus="false">
                                    <div class="form-group">
                                        <input type="text" class="form-control-input py-2 text-uppercase" th:field="*{candidateName}" placeholder="Name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control-input py-2 text-lowercase" th:field="*{candidateEmail}" placeholder="Email" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file"  class="form-control-input py-1" id="cpicture">
                                        <label for="file">Choose a picture</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button th:if="${candidate.candidateId}" type="submit" class="form-control-submit-button w-50">UPDATE</button>
                                        <button th:unless="${candidate.candidateId}" type="submit" class="form-control-submit-button w-50">REGISTER</button>
                                    </div>
                                    <div class="form-message">
                                    	<div th:if="${candidate.candidateId}" id="candidateMsgUpdate" class="h3 text-center hidden"></div>
                                        <div th:unless="${candidate.candidateId}" id="candidateMsgSave" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                                
                                <!-- Candidates Total Votes Start -->
                                <div class="candidate__votes candidate__details--votes">
				                    <div class="counter-value number-count" th:text="${candidate.totalVoteCount}"></div>
				                </div>
				                <!-- Candidates Total Votes End -->            
                            </div> <!-- end of form container -->
                            <!-- end of privacy form -->

                        </div> <!-- end of col--> 
                    </div> <!-- end of row -->
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
   </div><!-- end of privacy content -->
    
   <script type="text/javascript" th:inline="javascript">
   		const CONTEXT = [[@{/}]];
   </script>
   <div th:replace="fragment/layout :: scripts"></div>
    
</body>
</html>