<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<!-- Meta Tags -->
    <div th:replace="fragment/layout :: meta"></div>

    <!-- Website Title -->
    <title>Voting Application</title>
    
    <!-- Styles -->
    <div th:replace="fragment/layout :: styles"></div>
	
	<!-- Favicon  -->
    <link rel="icon" th:href="@{/images/favicon.png}">
    
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <div th:replace="fragment/layout :: header"></div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 px-0 candidates__list">
                       <!-- CANDIDATE CARD -->
                    </div> 
                </div>
            </div>
        </div>
    </header>
    
   <div th:replace="fragment/layout :: scripts"></div>
    
   <script th:src="@{/js/index.js}"></script>
    
</body>
</html>